{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<h1>Расписание учебных занятий</h1>
<p class="lead">Система управления расписанием университета. Выберите раздел из меню.</p>
<div class="row">
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Справочники</h5>
        <p class="card-text">Подразделения, преподаватели, группы, аудитории, планы, календарь.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Расписание</h5>
        <p class="card-text">Составление и просмотр расписания занятий.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Отчёты</h5>
        <p class="card-text">Шахматные ведомости, загрузка аудиторий, планы преподавателей.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
